body {
    font-family: 'Shadows Into Light', cursive;
}

.spaceBetween {
    margin-right: 10px;
}

.nav-link.dropdown-toggle {
    font-size: 26px;
    color: black;
}

.nav-link.dropdown-toggle:active {
    font-size: 26px;
    color: black;
    font-weight: bolder;
}

.nav-link.home {
    font-size: 30px;
    color: black;
    font-weight: bolder;
    position: relative;
    right: 20px;
}

.nav-link.active.home {
  font-size: 35px;
}

.newsletter-checkbox {
  position: absolute;
  top: 125px;
  left: 530px;
}

.buttons-align {
  display:inline-flex;
  margin-bottom: 10px;
}



