<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a style="font-size: large;" class="nav-link active" aria-current="page" href="#"
                        alt="Go to Home"><span title="Go to Home ">Home</span>
                        <span>&nbsp;&nbsp;|</span></a>
                </li>

                <li class="nav-item">
                    <a style="font-size: large;" class="nav-link active" aria-current="page">Login</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li>
                    <form style="height: 30px;margin-right: auto" class="d-flex">
                        <mat-card style="height: 30px;" *ngIf="(afAuth.user | async)">
                            <mat-icon style="position:relative; bottom: 12px;">check_circle</mat-icon>
                            <span style="position:relative; bottom: 18px; margin-left:10px">User {{ (afAuth.user |
                                async)?.displayName }} is logged in</span>
                        </mat-card>
                        <mat-card *ngIf="!(afAuth.user | async)">
                            <mat-icon style="position:relative; bottom: 12px;">do_not_disturb</mat-icon>
                            <span style="position:relative; bottom: 18px; margin-left:10px">User is not logged in</span>
                        </mat-card>
                    </form>
                </li>
                <!--  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                            dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </div> -->
                <li *ngIf="(user | async)" class="nav-item dropdown">
                    <a *ngIf="(user | async)" ngbDropdownToggle class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><button class="dropdown-item" routerLink="/profile"><img class="imageIcon profile"
                                    src="../../../assets/img/person-circle.svg" person-circle.svg width="17" height="20"
                                    alt=""> Profile </button></li>
                        <li><button class="dropdown-item" routerLink="/home"><img class="imageIcon house-fill"
                                    src="../../../assets/img/house-fill.svg" house-fill.svg width="17" height="20"
                                    alt=""> Go Home </button></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><button class="dropdown-item logoutPointer" (click)="logout()"><img class="imageIcon logout"
                                    src="../../../assets/img/door-open-fill.svg" door-open-fill.svg width="17"
                                    height="17" alt=""> Logout</button></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<section class="pagePosition">
    <button mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <mat-card style="top:10px">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input autofocus autocomplete="off" formControlName="email" type="email" matInput
                        placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input autocomplete="off" formControlName="password" type="password" matInput
                        placeholder="Password">
                </mat-form-field>
            </p>
            <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                <span>{{ firebaseErrorMessage }}</span>
            </div>

            <button mat-raised-button color="primary">Login</button>
        </form>
    </mat-card>

    <div class="progressIndicator" [style.display]="isProgressVisible ? 'inline' : 'none' ">
        <mat-progress-spinner class=" example-margin" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</section>