<div class="container m-100 main">
  <div ><h1 style="text-align:center; padding-top: 10px">Newsletter Listing</h1></div>
    <div class="top-buttons-container">
        <div *ngIf="!isShown" class="text-center">
            <button style="margin-left: auto;margin-right: auto;" (click)="openDialog()" class="btn-sm btn-primary">Add Info for Newsletter</button>
            <br><br>
            <button class=" btn-sm btn-info" routerLink="/Login">Return to Login</button>
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="nav-table-container">
        <!-- nav buttons -->
        <div *ngIf="isShown">
            <svg data-bs-toggle="modal" (click)="openDialog()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="add-user-button bi bi-cloud-plus-fill" style="cursor: pointer;" viewBox="0 0 16 16">
            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm.5 4v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
            </svg>
            <img class="goBack-link" (click)="goBack()" width="20px" height="20px" src="../../../assets/img/go-back.png" alt="">
            <!-- <a style="float:right; padding-top: 10px;cursor: pointer;" (click)="goBack()" class="xs-auto">Go Back</a> -->
        </div>

        <!-- data table -->
        <div class="data-table">

            <table *ngIf="isShown" class="table">
                <thead>
                    <tr>
                        <th style="color: blue;" scope="col">#</th>
                        <th style="color: blue;" scope="col">Name</th>
                        <th style="color: blue;" scope="col">Personal Info</th>
                        <th style="color: blue;" scope="col">Email</th>
                        <th style="color: blue;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataSource; let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.displayName}}</td>
                        <td>{{item.userDescription}}</td>
                        <td>{{item.email}}</td>
                        <td class="action-buttons action">
                            <svg style="cursor: pointer;color:darkgreen" (click)="edit(item.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>&nbsp;
                            <svg style="cursor: pointer;color:red" (click)="delete(item.id)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Angular/Material v8 pagination -->
    <mat-paginator [pageSizeOptions]="[3, 5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>

<button #btnShow style="display: none;" id="btnShow" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

<div id="exampleModal" #myModal class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="background-color: cadetblue;" class="modal-header">
                <h4
                    style="color:
                    #fff;padding-top:20px;font-weight: 700;"
                    class="modal-title">Add/Edit User
                </h4>
                <!-- <button
                    #btnClose
                    id="btnClose"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button> -->
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" [(ngModel)]="displayName" class="form-control" id="exampleFormControlInput1" placeholder="enter name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">User Description</label>
                    <textarea class="form-control" [(ngModel)]="userDescription" placeholder="enter some personal info" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                    <input class="form-control" [(ngModel)]="email" placeholder="enter email" id="exampleFormControlTextarea1" rows="3" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeDialog()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" (click)="add()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
