<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="pagePosition navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="font-size: large;" class="nav-link active" aria-current="page" href="#">Custom & Built-In
                        Pipes</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
            </ul>
            <ul class="navbar-nav">
                <li>
                    <form style="height: 30px;margin-right: auto" class="d-flex">
                        <mat-card style="height: 30px;" *ngIf="(afAuth.user | async)">
                            <mat-icon class="checkCircle">check_circle</mat-icon>

                            <span style="position:relative; bottom: 18px; margin-left:10px; width: 1000px">Logged in as:
                                <span *ngIf="(user | async)">{{ (user | async)?.displayName }}</span>
                            </span>

                        </mat-card>
                        <mat-card *ngIf="!(afAuth.user | async)">
                            <mat-icon style="position:relative; bottom: 12px;">do_not_disturb</mat-icon>
                            <span style="position:relative; bottom: 18px; margin-left:10px">User is not logged in</span>
                        </mat-card>
                    </form>
                </li>
                <!--  <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle
                            dropdown</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </div> -->
                <li *ngIf="(user | async)" class="nav-item dropdown">
                    <a *ngIf="(user | async)" ngbDropdownToggle class="nav-link dropdown-toggle" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><button class="dropdown-item" routerLink="/profile"><img class="imageIcon profile"
                                    src="../../../assets/img/person-circle.svg" person-circle.svg width="17" height="20"
                                    alt=""> Profile </button></li>
                        <li><button class="dropdown-item" routerLink="/home"><img class="imageIcon house-fill"
                                    src="../../../assets/img/house-fill.svg" house-fill.svg width="17" height="20"
                                    alt=""> Go Home </button></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><button class="dropdown-item logoutPointer" (click)="logout()"><img class="imageIcon logout"
                                    src="../../../assets/img/door-open-fill.svg" door-open-fill.svg width="17"
                                    height="17" alt=""> Logout</button></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- <section>
    <div>
        <p></p>
        <p>Lets count words in a sentence.</p>

        <div style="text-align:center">
            <img width="200" alt="Angular Logo"
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            <p> Word Counter Pipe in action below:</p>
             <h1>{{ customText | uppercase }}</h1>

 <td>{{customText | lowercase | convertToSpaces: '-' }}</td>
</div>

</div>
</section> -->