/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Shadows+Into+Light&display=swap');

/* shorthand notation for margins */
/*
        TB   LR
margin: 10px 10px
        T    RL   B
margin: 30px 70px 50px
        T    R    B    L
margin: 20px 30px 10px 10px

*/

html, body { height: 100%; }

body {
    margin: 20px;
    /* padding: 10px; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-link {
    /*font-family: 'Comforter Brush', cursive;*/
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;

}

.nav-link.dropdown-toggle {
    font-size: 20px;
    font-weight:900;
    color: rgb(19, 18, 18);
}

.nav-link.menu, .nav-link.home, .nav-link.profile, .nav-link.forgot-password,
.nav-link.verify-email, .nav-link.dashboard, .nav-link.admin-dashboard,
.nav-link.login, .nav-link.reactive-forms, .nav-link.form-submit-keypress,
.nav-link.directive-demo, .nav-link.ngx-form-validation  {
    font-size: 26px;
    color:rgb(158, 158, 158);
    font-weight: bolder;
    position: relative;
    right: 20px;
}
.nav-link.active.home {
  font-size: 35px;
  margin-bottom: 1px;;
}

.forgot-password, .profile, .menu, .verify-email, .dashboard, .admin-dashboard, .login,
.reactive-forms, .form-submit-keypress, .highlight-test, .custom-pipes, .directive-demo,
.ngx-form-validation   {
    color:rgb(158, 158, 158);
}

.fontShadowsIntoLight {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

.fontComforterBrush {
    font-family: 'Comforter Brush', cursive;
    /*font-family: 'Shadows Into Light', cursive;*/
}

span.hidden-xs {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h6.UP-h-style {
    font-weight: 500;
    font-size: 60px;
    color: red;
}

.spaceBetween {
    margin-right: 10px;
}

.pagePosition {
    position: relative;
    top:12px;
}

.checkCircle {
    position:relative;
    bottom: 12px;
    color: green;
}

.logoutPointer {
    cursor: pointer;
}

.imageIcon {
    position: relative;
    bottom: 2px;
}

.profile {
    font-weight: 800;

}

.dropdown-menu-end[data-bs-popper] {
    right: -27px;
    left: auto;
}

/* ==== Handle placeholder mouseEnter and mouseOut  ==== */

input::placeholder {
    color:lightskyblue;
}

input:focus::placeholder {
    color: transparent;
}

.arrow {
  position: relative;
  bottom: 15px;
  right: 12px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.menu-btn {
  position: relative;
  left: 10px;
  display:flex;
}

.dropdown-menu.show {
  display: block;
  position: absolute !important;
  right: -1px !important;
  width: auto;
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
  .card-container>*:not(.circle-link),
  .terminal {
      width: 100%;
  }
  .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
  }
  .card.highlight-card span {
      margin-left: 72px;
  }
  svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
      display: none;
      visibility: hidden;
  }
}

.fieldWidth {
  width: 350px;
}

.AmpSize {
  font-size: 24px;
  margin-left: -8px;
}

.fbLogo {
  margin-left: -10px;
}

.pwLogoSize {
  padding-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1976d2;
  color: #fff;
}

.menuLinks {
  float: right;
  color: #fff;
  padding-right: 20px;
}

.AmpSize {
  font-size: 24px;
  margin-left: 5px;
}

.fbLogo {
  margin-left: 8px;
}

.activeLink {
  position: relative;
  font-weight: 700;
  font-stretch: condensed;
  font-size: 18px;
  bottom: 2px;
  color: orangered;
}

img.out-door:hover {
  cursor: pointer
}

.topDown {
  position: relative;
  top: 15px
}


/* .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -130px;
  margin-top: 0.125rem;
} */

/* dropdown menu for profile/newsletter/logout */
div.dropdown-menu.show {
  position: absolute;
  left: -65px;
  top: 45px;
}

.ng-fbImages {
  position: relative;
  max-width: 100px;
  text-align: left;
}

.pwLogoSize {
  position: relative;
  padding-left: 10px;
  height: 40px;
  /*top:10px;*/
  margin-bottom: 5px;
}


/* div.container {
   padding-top: 60px;
}*/

div.container-row {
  padding-top: -90px;
}



.menu-items {
  position: relative;
  top: 2px;
}

.footer-menu-items {
  position: relative;
  margin-right: auto;
  top: 3px;
}

div .red-circle-rocket {
  position: relative;
  max-height: 130px;
  right: 30px;
  bottom: 32px;
}

.slider-style {
  position: relative;
  bottom: 38px;
}

.video-style {
  position: relative;
  bottom: 65px;
}

.about-style {
  position: relative;
  bottom: 38px;
}

.nav-link,
.nav-link:link {
  color: #fff;
}

.nav-link:hover {
  color: #c2c3c4;
}

.nav-link:active {
  color: #1976d2;
}

.nav-link:visited {
  color: lightblue;
}

.menu-link-active {
  color: white;
}

.menu-link-active {
  color: #fff;
}

nav.navbar.fixed-bottom {
  height: 60px;
}

.vertical-line {
  border-left: 1px solid green;
  height: 330px;
  position: absolute;
  /* left: 50%; */
  right: 220px;
  margin-left: -3px;
  top: 0;
}

.portfolio-img1, .portfolio-img2, .portfolio-img3 {
  height: 300px;
  width: 400px;
}

/* Styles for Newsletter-Dialog */
button#btnClose.btn-close {
  color: red !important;
  position: relative;
  float: right;
  right: 10px;
  /* bottom: 40px; */
}

.dialog-header {
  height: 65px;
}

h4.dialog-title {
  padding-left: 20px;
  color: #fff;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.dialog-body {
  padding: 20px;
}

.dialog-footer {
  position: relative;
  left: 60px;
  margin-bottom: 10px;
  padding-right: 40px;
}

.dialog-content {
    margin-left: auto;
    margin-right: auto;
}

.box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* Styles for Muscle-cars-Pagination demo */

div.row {
overflow: hidden;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* ==================== */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar {
  width: 100% !important;

}

.section-style {
  padding-left: 10px;
}

.bg-light {
  background-color: rgb(244, 237, 230) !important;
  padding-left: 10px;
}
