/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Shadows+Into+Light&display=swap');

/* shorthand notation for margins */
/*
        TB   LR
margin: 10px 10px
        T    RL   B
margin: 30px 70px 50px
        T    R    B    L
margin: 20px 30px 10px 10px

*/

html, body { height: 100%; }

body {
    margin: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-link {
    /*font-family: 'Comforter Brush', cursive;*/
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;

}

.nav-link.dropdown-toggle {
    font-size: 20px;
    font-weight:900;
    color: rgb(19, 18, 18);
}

.nav-link.menu, .nav-link.home, .nav-link.profile, .nav-link.forgot-password,
.nav-link.verify-email, .nav-link.dashboard, .nav-link.admin-dashboard,
.nav-link.login, .nav-link.reactive-forms, .nav-link.form-submit-keypress,
.nav-link.directive-demo, .nav-link.ngx-form-validation  {
    font-size: 26px;
    color:rgb(158, 158, 158);
    font-weight: bolder;
    position: relative;
    right: 20px;
}
.nav-link.active.home {
  font-size: 35px;
  margin-bottom: 1px;;
}

.forgot-password, .profile, .menu, .verify-email, .dashboard, .admin-dashboard, .login,
.reactive-forms, .form-submit-keypress, .highlight-test, .custom-pipes, .directive-demo,
.ngx-form-validation   {
    color:rgb(158, 158, 158);
}

.fontShadowsIntoLight {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

.fontComforterBrush {
    font-family: 'Comforter Brush', cursive;
    /*font-family: 'Shadows Into Light', cursive;*/
}

span.hidden-xs {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h6.UP-h-style {
    font-weight: 500;
    font-size: 60px;
    color: red;
}

.spaceBetween {
    margin-right: 10px;
}

.pagePosition {
    position: relative;
    top:12px;
}

.checkCircle {
    position:relative;
    bottom: 12px;
    color: green;
}

.logoutPointer {
    cursor: pointer;
}

.imageIcon {
    position: relative;
    bottom: 2px;
}

.profile {
    font-weight: 800;

}

.dropdown-menu-end[data-bs-popper] {
    right: -27px;
    left: auto;
}

/* ==== Handle placeholder mouseEnter and mouseOut  ==== */

input::placeholder {
    color:lightskyblue;
}

input:focus::placeholder {
    color: transparent;
}
